body{
    background-image: url(school-17.jpg);
    height: 100vh;
    background-size: cover;
    background-position: right;
 }
 .login{
     width: 360px;
     padding: 10%;
     margin: auto; 
 }
 .lform{
  background: gray;
max-width: 360px;
margin: 0 auto 100px;   
padding:45px;
text-align: center;
 }

 .lform input{
     font-family: "ariel";
     background: white;
     width:100%;
     border:0;
     margin: 0 0 15px;
     padding :15px;
     box-sizing: border-box;
     font-size: 14px;
    

 }
 .lform button{
     font-family: "Roboto";
     outline: 0;
     font-size: 14px;
     padding:15px;
     
 }
 