body{
    background-image: url(school3.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
 }
 .register{
     width: 360px;
     padding: 10%;
     margin: auto; 
     
 }
 .rform{
        background: gray;
max-width: 360px;
margin: 0 auto 100px;   
padding:35px;
text-align: center;
 }

 .rform input{
     font-family: "Roboto";
     background: white;
     width:100%;
     border:0;
     margin: 0 0 15px;
     padding :15px;
     box-sizing: border-box;
     font-size: 14px;
    

 }
 .rform button{
     font-family: "Roboto";
     outline: 0;
     font-size: 14px;
     padding:15px;
     
 }
 